# SPDX-License-Identifier: Apache-2.0
#
# Copyright (c) 2023 Ambiq Micro Inc. <www.ambiq.com>

CONFIG_SOC_SERIES_APOLLO4X=y
CONFIG_SOC_APOLLO4P_BLUE=y
CONFIG_CONSOLE=y
CONFIG_UART_CONSOLE=y
CONFIG_SERIAL=y
CONFIG_UART_INTERRUPT_DRIVEN=y
CONFIG_BT_AMBIQ_HCI=y

# Apollo4 Blue Plus BLE Controller does not support
# the ACL flow control.
CONFIG_BT_HCI_ACL_FLOW_CONTROL=n
